@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
}

:root{
    --text-color: #161616;
    --bg-color: #fff;
    --hover-color: hsl(0, 0%, 14%);
    --title-color: #3E3D3D
}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

main{
    overflow-x: hidden;
}

section{
    padding: 4rem 0 3rem;
}

.container{
    margin: auto;
    max-width: 60.5rem;
    width: 100%;
}

header {
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 0.1rem 0;
    transition: background-color 0.3s;
}

.logo-text{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 41px;
    margin-right: 10px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.navbar{
    display: flex;
    column-gap: 2rem;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: #6b6b6b;
}

.navbar a:hover{
    color: var(--text-color);
}

.heading{
    text-align: center;
    font-size: 3.4rem;
    margin-bottom: 2rem;
    color: var(--title-color);
}

.home-content{
    min-height: 740px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
}

.about_content{
    min-height: 740px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2.5rem;
}

.about-img{
    width: 450px;
    margin-left: 32px;
}

.about-text h1{
    margin-bottom: 2rem;
    font-size: 3.4rem;
    color: var(--title-color);
}

.about-text p{
    margin-bottom: 1rem;
    margin-right: 1rem;
}


.container-paragraph{
    width: 120%;
    padding-right: 40px;
}


.home-img{
    width: 500px;
    margin-right: 32px;
}

.home-text h1{
    margin-bottom: 1rem;
    font-size: 3.4rem;
    color: var(--title-color);
}

.home-text p {
    margin-bottom: 1rem;
}

.btn{
    display: inline-flex;
    color: var(--bg-color);
    column-gap: 0.5rem;
    align-items: center;
    padding: 16px 24px;
    background-color: var(--text-color);
    border-radius: 0.4rem;
}

.btn .bx{
    font-size: 1.4rem;
}

.btn:hover{
    background-color: var(--hover-color);
}

.Login{
    width: 320px;
    height: 420px;
    background: #161616;
    color: #fff;
    top : 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.Login .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}


.Login h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}


.Login label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    
}

.Login input{
    width: 100%;
    margin-bottom: 20px;
}

.Login input[type="text"],
.Login input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


.Login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #f12020;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.Login a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgrey;
}

.Login a:hover {
    color: #fff;

}

.Login input[type="submit"]:hover{
    cursor: pointer;
    background: #a00202;
    
}


.specs-container{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}

.specs-details h2{
    margin-bottom: 1rem;
    font-size: 3.4rem;
    color: var(--title-color);
}

.specs-details{
display: grid;
row-gap: 1.4rem;
}

.specs-details .box .bx{ 
    font-size: 1.6rem;
}

.specs-details .box h3{
font-size: 1rem; 
}


.specs-details p{
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}



.specs-img{
    width: 600px;
    margin-left: 2px;
    margin-top: 150px;
}



.shop-container{
    display: grid;
    grid-template-columns: repeat(3, 164px);
    justify-content: center;
    gap: 5rem;
}

.shop-container .box{
    position: relative;
    padding: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 5px 8px rgb(8 54 55 / 10%);
    border-radius: 0.5rem;
    width: 223px;
    height: 230px;
    display: grid;
}

.shop-container .box img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.shop-container .box h3{
    font-size: 0.9rem;
}

.shop-container .box span{
    font-weight: 500;
}

.shop-container .box .bx {
    transition: background-color 0.3s, transform 0.3s;
    position: absolute;
    bottom: 0.8rem;
    right: 0.8rem;
    background-color: var(--title-color);
    padding: 10px;
    border-radius: 8px;
    color: var(--bg-color);
    align-self: center;
    cursor: pointer; /* Cambia el cursor para indicar que es un botón */
}


.shop-container .box .bx:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px); /* Elevación suave */
    color: var(--bg-color);
}


.testimonials-header{
    max-width: 50%;
    margin: auto;
    margin-bottom: 5rem;
}


.testimonials-container{
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}



.testimonials-box{
    padding: 20px;
    width: 450px;
    background-color: var(--bg-color);
    box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 0.25);;
    border-radius: 30px;
}


.testimonials-box .info{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.testimonials-box img{
    max-width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-box .name{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600px;
    line-height: 1.2;
}

.testimonials-box .job{
    font-size: 14px;
    color: #777;
    text-transform: capitalize;
    font-weight: 500;
}

.testimonials-box p{
    margin-top: 20px;
    color: hsl(0, 0%, 40%);
}

.rating{
    margin-top: 10px;
    font-size: 14px;
    color: hsl(33, 86%, 66%);
}


.buds-container {
    display: grid;
    grid-template-columns: 1fr; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    background-color: var(--hover-color);
    color: var(--bg-color);
    border-radius: 0.5rem;
    padding: 2rem; 
}


.buds-container2{
    display: grid;
    grid-template-columns: 250px max-content;
    justify-content: center;
    align-items: center;

}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    overflow: hidden;
}


.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 12px;
}
.buds-img img {
    width: 420px; 
    align-self: center;
}




.buds-text h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}


.buds-text span {
    font-weight: 400;
}


.buds-text p {
    margin: 1rem 0 1rem;
}


.buds-text .btn:hover{
    background-color: #f12020;
}



.footer{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    gap: 8rem;
}

.footer-box{
    display: flex;
    flex-direction: column;
}

.footer-box h2{
font-size: 1rem;
font-weight: 600;
margin-bottom: 1rem;
}

.footer-box a{
color: #6b6b6b;
margin-bottom: 4px; 
font-size: 0.9rem;
}



.social {
display: flex;
column-gap: 0.9rem;
}

.social .bx{
background: var(--text-color);
color: var(--bg-color);
padding: 8px;
border-radius: 0.5rem;
font-size: 1rem;
}

.social .bx:hover{
background: var(--hover-color);

}

.copyright{
    text-align: center;
    padding: 20px;
    color: #6b6b6b;
    font-size: 0.8rem;
}

#cart-icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 20px;
}

#cart-icon:hover {
    color: #161616; 
}

.carrito {
    display: none;
    position: fixed;
    right: 20px;
    top: 60px;
    z-index: 1000;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    color: #333;
    transition: all 0.3s ease;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
}

.carrito h2 {
    color: #161616;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.carrito div {
    max-height: 400px; /* Altura máxima antes de desplazarse */
    overflow-y: auto; /* Permite desplazarse si hay muchos productos */
}

.carrito p, .carrito div {
    color: #555; /* Color de texto */
    font-size: 0.9rem;
}

.carrito button {
    display: block; /* Hacer que el botón ocupe su propia línea */
    width: 100%; /* Ancho completo */
    padding: 10px 15px;
    margin-top: 10px; /* Espacio arriba del botón */
    background-color: #161616; /* Color del botón */
    color: white;
    border: none;
    border-radius: 4px; /* Bordes redondeados del botón */
    cursor: pointer;
    transition: background-color 0.2s; /* Transición de color */
    transition: all 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    
}

.carrito .producto {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}



.carrito .producto-info {
    font-size: 0.9rem;
}

.carrito .precio {
    font-weight: bold;
}

.carrito button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    background-color: #f12020;;
}

.btn {
    transition: background-color 0.3s, transform 0.3s;
}

.carrito::-webkit-scrollbar {
    width: 6px;
}

.carrito::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.carrito::-webkit-scrollbar-thumb {
    background: #888;
}

.carrito::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px); /* Elevación sutil al pasar el ratón */
}

.navbar a {
    transition: color 0.3s;
}

.navbar a:hover {
    color: var(--hover-color);
}

/* Animación suave para aparición de elementos */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

#addProductForm {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 1.5rem 0;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-flex;
    align-items: center;
}

#openAddProductForm:hover {
    background-color: var(--title-color);
    transform: translateY(-2px);
}

#addProductForm input, #addProductForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



#addProductForm button {
    padding: 10px 20px;
    background-color: var(--hover-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addProductForm button:hover {
    background-color: var(--title-color);
}

/* Estilos para el botón de añadir producto en la barra de navegación */
#openAddProductForm {
    background-color: var(--hover-color);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#openAddProductForm:hover {
    background-color: var(--title-color);
}

/* Estilos para el contenedor del formulario */
#addProductFormContainer {
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 20px auto;
    width: 80%; /* O el ancho que prefieras */
}

/* Estilo del fondo del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    animation: fadeIn 0.5s;
}

/* Estilo del contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto; /* Ajuste para centrar verticalmente y dar espacio superior */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    width: 42%; /* Ajuste para reducir el ancho del modal */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra para resaltar */
    
}

/* El botón de cerrar (x) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: -10px -10px 0 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para el formulario dentro del modal */
#addProductForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#addProductForm input[type="text"],
#addProductForm input[type="number"],
#addProductForm input[type="file"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#addProductForm button {
    background-color: var(--hover-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#addProductForm button:hover {
    background-color: var(--title-color);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



/* Responsive */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .home-content,
    .about_content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .home-img,
    .about-img {
        width: 100%;
        margin: auto;
    }

    .navbar {
        flex-direction: column;
    }

    .specs-img, .testimonials-box, .buds-img img {
        width: 100%;
    }
}

/* Media queries para dispositivos móviles */
@media (max-width: 480px) {
    .navbar {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    .heading {
        font-size: 2rem;
    }

    .home-text h1,
    .about-text h1,
    .specs-details h2 {
        font-size: 2rem;
    }

    .shop-container {
        grid-template-columns: 1fr;
    }

    .testimonials-header, .testimonials-container {
        max-width: 100%;
        grid-template-columns: 1fr;
    }

    .buds-container2 {
        grid-template-columns: 1fr;
    }
}

/* Ajustes adicionales para mejorar la responsividad */
img {
    max-width: 100%;
    height: auto;
}

/* Adaptar los tamaños de las fuentes para pantallas más pequeñas */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .navbar a, .footer-box a, .testimonials-box .job {
        font-size: 12px;
    }
}








